# Raw data and large intermediate files
results/
results_*/raw_dumps/
results_*/deeploop_in/
results_*/deeploop_out/
results_*/anchors/
results_*/final_bedpe/

# Keep logs
!results_*/logs/

# Test data
test_data/

# Python
__pycache__/
*.pyc
.pytest_cache/

# Conda
*.egg-info/
